body {
    margin: 0;
}

button img {
  width: 100%;
}

button img {
  width: 100%;
}

#btLeft {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 20px;
  top: 0px;
}

#btCenter {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 570px;
  top: 150px;
}

#btRight {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 570px;
  top: 0px;
}

#btForward {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 300px;
  top: 0px;
}

#logWindow {
  width: 640px;
  height: 200px;
  text-align: left;
}

#mapCanvas {
  width: 640px;
  height: 360px;
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}

#buttons {
  width: 640px;
  height: 50px;
  position: relative;
}

#videoBox {
  width: 700px;
  height: 500px;
  position: relative;
}
